@font-face {
  font-family: "inter";
  src: url("./fonts/InterLight.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "inter__bold";
  src: url("./fonts/InterBold.ttf");
  font-weight: 700;
}
* {
  font-family: "inter";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none !important;
}
h1,
h2,
h3 {
  font-family: "inter__bold";
}
.mb-80 {
  margin-bottom: 80px;
}
body,
html {
  overflow-x: hidden;
}
@media (min-width: 1299px) {
  .ps-lg-0 {
    padding-left: 0;
  }
  .p-lg-100 {
    padding: 100px !important;
  }
  .px-lg-100 {
    padding-right: 100px !important;
    padding-left: 100px !important;
  }
}
@media (max-width: 1299px) {
  .p-lg-100 {
    padding: 50px !important;
  }
  .px-lg-100 {
    padding-right: 50px !important;
    padding-left: 50px !important;
  }
}
@media (max-width: 992px) {
  .px-lg-100 {
    padding-right: 20px !important;
    padding-left: 20px !important;
  }
}
